
body {
    background-color: rgb(25, 30, 120);
}
.container {
    max-width: 1400px;
}

main .container {
    margin-bottom: 20px;
}

#home-nav {
    background-color: rgb(10, 0, 100);
}

.navbar-brand {
    font-size: 27px;
}

nav#home-nav.navbar a {
    color: rgb(241, 241, 241);
}

li.nav-item a {
    font-size: 21px;
}
.dropdown-menu {
    background-color: rgb(30, 40, 100) ;
}

#jogos {
    padding: 70px 15px 20px;;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* .carousel.slide button {
    position: relative;
} */

/* .carousel-caption {
    bottom: 100px;
} */

.card {
    width: 270px;
    background-color: transparent;
    border: 0px;
    transition: transform .1s;
}
.card img:hover {
    transform: scale(1.25);
}

.games-show {
    padding-top: 30px;
}

h2 {
    color: rgb(241, 241, 241);
}

p {
    margin-top: 20px;
    color: whitesmoke;
}

.card-grid {
    margin-top: 36px ;
}

.bg-positive {
    border-width: 4px;
    border-color: rgb(219, 219, 219);
    background-color: rgb(28, 36, 160);
}

.bg-negative {
    background-color: rgb(12, 10, 100);
}

footer {
    background-color: rgb(5, 0, 20);
}

.btn-primary {
    border-color: rgb(30, 40, 100) ;
    background-color: rgb(50, 50, 150);
}
