
body {
    background-color: rgb(50, 30, 120);
}
.container {
    max-width: 1400px;
}
#home-nav {
    background-color: rgb(25, 0, 88);
}

.navbar-brand {
    font-size: 27px;
}

nav#home-nav.navbar a {
    color: rgb(241, 241, 241);
}

li.nav-item a {
    font-size: 21px;
}
.dropdown-menu {
    background-color: rgb(60, 40, 100) ;
}

#jogos {
    padding: 70px 15px 20px;;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* .carousel.slide button {
    position: relative;
} */

/* .carousel-caption {
    bottom: 100px;
} */
.card {
    width: 270px;
    background-color: transparent;
    border: 0px;
    transition: transform .1s;
}
.card img:hover {
    transform: scale(1.25);
}
.games-show {
    padding-top: 30px;
}
h2 {
    color: rgb(241, 241, 241);
}
.games-show p {
    margin-top: 20px;
    color: white;
}
.card-grid {
    margin-top: 36px ;
}
footer {
    background-color: rgb(5, 0, 20);
}